        <footer>
            <div class="ui bottom inverted footer segment row" id="sticky">
                <div class="ui inverted grid center aligned container">
                    <div class="four wide column">
                        <a href="/schemas">
                            <h5 class="ui inverted header">Schema</h5>
                        </a>
                    </div>
                    <div class="four wide column">
                        <a href="/projects">
                            <h5 class="ui inverted header">Project</h5>
                        </a>
                    </div>
                    <div class="four wide column">
                        <a href="/">
                            <h5 class="ui inverted header">Check</h5>
                        </a>
                    </div>
                    <div class="four wide column">
                        <a href="/version">
                            <h5 class="ui inverted header">
                                Version
                            </h5>
                        </a>
                    </div>
                    <div class="sixteen wide column">
                        <a href="/contact">
                            <h5 class="ui inverted header">Contact us</h5>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- End Pusher -->

    <script src="/sematic/sematic.js" type="text/javascript"></script>
    <script src="/sematic/sematic.min.js" type="text/javascript"></script>
    <script src="/sematic/components/accordion.js" type="text/javascript"></script>
    <script src="/sematic/components/accordion.min.js" type="text/javascript"></script>
    <script src="/sematic/components/calendar.js" type="text/javascript"></script>
    <script src="/sematic/components/modal.js" type="text/javascript"></script>
    <script src="/sematic/components/modal.min.js" type="text/javascript"></script>
    <script src="/sematic/components/popup.js" type="text/javascript"></script>
    <script src="/sematic/components/popup.min.js" type="text/javascript"></script>
    <script src="/sematic/components/sidebar.js" type="text/javascript"></script>
    <script src="/sematic/components/sidebar.min.js" type="text/javascript"></script>
    <script src="/sematic/components/sticky.js" type="text/javascript"></script>
    <script src="/sematic/components/sticky.min.js" type="text/javascript"></script>
    <script src="/sematic/components/dropdown.js" type="text/javascript"></script>
    <script src="/sematic/components/dropdown.min.js" type="text/javascript"></script>
    <script src="/sematic/components/transition.js" type="text/javascript"></script>
    <script src="/sematic/components/transition.min.js" type="text/javascript"></script>

    <!-- Custom Javascript -->
    <script src="/js/custom.js"></script>
    <script src="/js/custom-sidebar.js" type="text/javascript"></script>
    </body>

</html>