<!DOCTYPE html>
<html>
    <head>
        <!-- Title -->
        <title>Control Management System</title>
        <!-- Title -->
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <!-- /Standard Meta -->

        <!-- Site Properties -->
        <link rel="stylesheet" href="/sematic/semantic.min.css">
        <link rel="stylesheet" href="/sematic/semantic.css">
        <link rel="stylesheet" href="/sematic/components/accordion.css">
        <link rel="stylesheet" href="/sematic/components/accordion.min.css">
        <link rel="stylesheet" href="/sematic/components/calendar.css">
        <link rel="stylesheet" href="/sematic/components/sidebar.css">
        <link rel="stylesheet" href="/sematic/components/sidebar.min.css">
        <link rel="stylesheet" href="/sematic/components/icon.css">
        <link rel="stylesheet" href="/sematic/components/icon.min.css">
        <link rel="stylesheet" href="/sematic/components/loader.css">
        <link rel="stylesheet" href="/sematic/components/loader.min.css">
        <link rel="stylesheet" href="/sematic/components/menu.css">
        <link rel="stylesheet" href="/sematic/components/menu.min.css">
        <link rel="stylesheet" href="/sematic/components/modal.css">
        <link rel="stylesheet" href="/sematic/components/modal.min.css">
        <link rel="stylesheet" href="/sematic/components/popup.css">
        <link rel="stylesheet" href="/sematic/components/popup.min.css">
        <link rel="stylesheet" href="/sematic/components/sticky.css">
		<link rel="stylesheet" href="/sematic/components/sticky.min.css">
		<link rel="stylesheet" href="/sematic/components/dropdown.css">
		<link rel="stylesheet" href="/sematic/components/dropdown.min.css">
		<link rel="stylesheet" href="/sematic/components/transition.css">
        <link rel="stylesheet" href="/sematic/components/transition.min.css">
        <link rel="stylesheet" href="/sematic/components/breadcrumb.css">
        <link rel="stylesheet" href="/sematic/components/breadcrumb.min.css">
        <link rel="stylesheet" href="/sematic/components/button.css">
        <link rel="stylesheet" href="/sematic/components/button.min.css">
        <link rel="stylesheet" href="/sematic/components/checkbox.css">
        <link rel="stylesheet" href="/sematic/components/checkbox.min.css">
        <link rel="stylesheet" href="/sematic/components/container.css">
        <link rel="stylesheet" href="/sematic/components/container.min.css">
        <link rel="stylesheet" href="/sematic/components/dimmer.css">
        <link rel="stylesheet" href="/sematic/components/dimmer.min.css">
        <link rel="stylesheet" href="/sematic/components/button.css">
        <link rel="stylesheet" href="/sematic/components/button.min.css">
        <link rel="stylesheet" href="/sematic/components/divider.css">
        <link rel="stylesheet" href="/sematic/components/divider.min.css">
        <link rel="stylesheet" href="/sematic/components/header.css">
        <link rel="stylesheet" href="/sematic/components/header.min.css">
        <link rel="stylesheet" href="/sematic/components/image.css">
        <link rel="stylesheet" href="/sematic/components/image.min.css">
        <link rel="stylesheet" href="/sematic/components/input.css">
        <link rel="stylesheet" href="/sematic/components/input.min.css">
        <link rel="stylesheet" href="/sematic/components/item.css">
        <link rel="stylesheet" href="/sematic/components/item.min.css">
        <link rel="stylesheet" href="/sematic/components/label.css">
        <link rel="stylesheet" href="/sematic/components/label.min.css">
        <link rel="stylesheet" href="/sematic/components/list.css">
        <link rel="stylesheet" href="/sematic/components/list.min.css">
        <link rel="stylesheet" href="/sematic/components/loader.css">
        <link rel="stylesheet" href="/sematic/components/loader.min.css">
        <link rel="stylesheet" href="/sematic/components/message.css">
        <link rel="stylesheet" href="/sematic/components/message.min.css">
        <link rel="stylesheet" href="/sematic/components/rail.css">
        <link rel="stylesheet" href="/sematic/components/rail.min.css">
        <link rel="stylesheet" href="/sematic/components/rating.css">
        <link rel="stylesheet" href="/sematic/components/rating.min.css">
        <link rel="stylesheet" href="/sematic/components/reset.css">
        <link rel="stylesheet" href="/sematic/components/reset.min.css">
        <link rel="stylesheet" href="/sematic/components/reveal.css">
        <link rel="stylesheet" href="/sematic/components/reveal.min.css">
        <link rel="stylesheet" href="/sematic/components/search.css">
        <link rel="stylesheet" href="/sematic/components/search.min.css">
        <link rel="stylesheet" href="/sematic/components/search.css">
		<link rel="stylesheet" href="/sematic/components/search.min.css">
		
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="/css/product.css">
        <!-- /Site Properties -->

        <!-- Script -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
         integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

        <!-- Script -->
    </head>

    <body>