
<div class="ui sidebar vertical left menu inverted">

    <div class="header item">
        <a href="/"><i class="home icon"></i> CMS</a>
    </div>



    <div class="ui accordion inverted">

        <div class="content">
            <a class="item" href="/user-management"><i class="users icon"></i> Quản lý người dùng</a>
        </div>

        <div class="content">
            <a class="item" href="/product-management"><i class="dolly icon"></i> Quản lý sản phẩm</a>
        </div>

        <div class="title item ">
            <i class="dropdown icon"></i> Schema history
        </div>
        <div class="content items">
            <a class="item" href="/history"></i> <strong>- Trang chính Schema history</strong></a>
            <a class="item" href="/history/ToC">+ Table of Contents</a>
            <a class="item" href="/history/VideoObject">+ VideoObject</a>
            <a class="item" href="/history/QAPage">+ QAPage</a>
            <a class="item" href="/history/Product">+ Product category</a>
            <a class="item" href="/history/ProductSpecific">+ Product cụ thể</a>
            <a class="item" href="/history/Service">+ Service</a>
            <a class="item" href="/history/BlogPosting">+ BlogPosting Chính</a>
            <a class="item" href="/history/ImageObject">+ Hình ảnh</a>
            <a class="item" href="/history/LocalBusiness">+ Local Business</a>
            <a class="item" href="/history/Person">+ Person</a>
        </div>

    </div>
</div>
