
<div class="ui sidebar vertical left menu inverted">

    <div class="header item">
        <a href="/"><i class="home icon"></i> CMS</a>
    </div>



    <div class="ui accordion inverted">

        <div class="content">
            <a class="item" href="/user-management"><i class="users icon"></i> Quản lý người dùng</a>
        </div>

        <div class="content">
            <a class="item" href="/"><i class="dolly icon"></i> Quản lý sản phẩm</a>
        </div>

        <div class="title item ">
            <i class="dropdown icon"></i> Schema history
        </div>
        

    </div>
</div>
