
<div class="ui sidebar vertical left menu inverted">

    <div class="header item">
        <a href="/cms"><i class="home icon"></i> CMS</a>
    </div>

    <div class="ui accordion inverted">

        <div class="content">
            <a class="item" href="/user-management"><i class="users icon"></i> Users Management</a>
        </div>

        <div class="content">
            <a class="item" href="/product-management"><i class="dolly icon"></i> Product Management</a>
        </div>

    </div>
</div>