<% include ./partials/header.ejs %>
    <% include ./partials/sidebar.ejs %>

    <div class="pusher">
        <% include ./partials/navbar.ejs %>
        
        <div class="custom-container">
            <section class="ui grid" id="dashboard">
                <div class="eight wide column">
                    <center>
                        <a href="/user-management?token=<%= token %>">
                            
                            <h1 class="ui segment">
                                MOVE TO USERS MANAGEMENT
                                <i class="users icon"></i>
                            </h1>
                        </a>
                    </center>
                </div>
                <div class="right floated eight wide column">
                    <center>
                        <a style="color:red" href="/product-management?token=<%= token %>">
                            <h1 class="ui segment">
                                MOVE TO PRODUCTS MANAGEMENT
                                <i class="dolly icon"></i>
                            </h1>
                        </a>
                    </center>
                </div>
            </section>

            <div class="ui row" style="margin-top:20%">
                
                <center>
                    <h1 class="ui divider header" style="font-size:300%">>> Welcome back to Dashboard << </h1>
                </center>
                
            </div>
        </div>
<% include ./partials/footer.ejs %>