<% include ./partials/header.ejs %>
    <% include ./partials/sidebar.ejs %>

    <div class="pusher">
        <% include ./partials/navbar.ejs %>
        
        <div class="custom-container">

            <section class="ui segment" id="dashboard">
                <div class="ui row director">
                    <center>
                       
                        <a style="color: rgb(131, 6, 6)" href="/user-management">
                            
                            <h1 class="ui segment">
                                MOVE TO USERS MANAGEMENT
                                <i class="users icon"></i>
                            </h1>
                        </a>
                    </center>
                </div>
                <div class="ui row director">
                    <center>
                        
                        <a style="color: rgb(131, 6, 6)" href="/product-management">
                            <h1 class="ui segment">
                                MOVE TO PRODUCTS MANAGEMENT
                                <i class="dolly icon"></i>
                            </h1>
                        </a>
                    </center>
                </div>
            </section>
        </div>
<% include ./partials/footer.ejs %>