/* Change font-family */
body {
    background-color: #DADADA;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
html {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4,h5 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.ui.menu {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.ui.text.container {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.ui.divider {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.ui.header {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.ui.input input {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.ui.list>.item .header {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.ui.steps .step .title { 
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.ui.message {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.ui.card>.content>.header,.ui.cards>.card>.content>.header {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.ui.items>.item>.content>.header {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.ui.accordion .title:not(.ui) {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.ui.modal>.header {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.ui.popup>.header {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.ui.search>.results .result .title {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.ui.search>.results>.message .header {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.ui.category.search>.results .category>.name {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.ui .button {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.ui.form input {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
button, input, optgroup, select, textarea {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body>.grid {
    height: 100%;
}

.image {
    margin-top: -100px;
}

.column {
    max-width: 450px;
}

#sticky {
    position: fixed;
    z-index: 3;
    bottom: 0;
    height: 5px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 16px;
}

.ui.label>.icon {
    float: right;
    clear: both;
}

#show {
    cursor: pointer;
    float: right;
    clear: both;
}

.ui.form {
    text-align: left;
}

select {
    width: 100%; 
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    resize: vertical
}

option {
    width: 100%; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    resize: vertical
}

/* Quan - custom for nav bar */
.nav-header .label {
    margin-top: -20px;
}

/* Custom for the side bar */
.marginlefting {
    margin-left: 60px !important;
}

.displaynone {
    display: none !important;
}

.displayblock {
    display: block !important;
}

.title.item {
    padding: .92857143em 1.14285714em !important;
}

.dropdown .menu .header {
    padding-top: 3.9px !important;
    padding-bottom: 3.9px !important;
}

.content .item:hover {
    color: black;
}

.login-form {
    margin-top: 2%;
    background-color: #fff;
    padding-top: 5rem;
    position: fixed;
    top: 100px;
}

.custom-section {
    width: 70%;
    margin-top: 2% !important;
    text-align: left;
}


.custom-section .detail-breadcumb .divider {
    padding-bottom: 1px
}

.custom-section .field {
    margin-bottom: 30px;
}

.custom-section .fields {
    margin-top: 20px;
    margin-bottom: 30px;
}

.custom-section a {
    color: black !important;
}

/* display parentOnsiteDetailField at onsite detail */
#parentOnsiteDetailField {
    display: none;
}

.custom-container {
    margin-top:-1%;
    margin-left: 10%;
    margin-right: 10%;
}

#dashboard .ui.segment:hover {
    background-color: #ee8a83c4
}

#dashboard .director {
    margin:3% 5% 5%;
    
}

/* Customer User Management */
#user-header {
    margin-top: 3%;
    margin-bottom: 3%;
}

#user-search {
    margin-bottom: 2%;
}

.remove-user:hover {
    cursor: pointer;
    color: yellowgreen;
}

.remove-user {
    color :grey;
}

.update-user:hover {
    cursor: pointer;
    color: yellowgreen;
}

/* Add user modal */

#add-user-modal .label {
    margin-top: 3%;
}

#user-info-href:hover {
    color: #ee8a83c4;
}

